/* CSS Document */

body {
  font-family: Arial, sans-serif;
  background-color: lightgray;
}

#obal {
  max-width: 960px;
  margin: auto;
  border: solid gray 1px;
  padding: 20px;
  background-color: white;
  color: #333;
}

nav {
  background-color: #222;
  margin: -20px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 1.1em;
  color: lightgray;
}

a {
  padding: 19px;
  text-decoration: none;
  color: lightgray;
}

a:hover {
  color: white;
  background-color: rgb(0,153,204);
}

h1 {
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  color: rgb(0,153,204);
  text-transform: uppercase;
  line-height: 2em;
}

h2, h3 {
  font-weight: 200; 
  line-height: 2em;
}

h2 {
  font-size: 1.6em;
  color: rgb(102,153,0);
}

h3 { 
  font-size: 1.2em;
  border-bottom: dotted 1px;
}

p, li {
  line-height: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  display: inline-block;
}

li {
  list-style-position: outside;
  list-style-type: square;
  margin-left: 40px;
}

b {
  color: rgb(0,153,204);
  font-weight: bold;
}

.poznamka{
  border-left: #a3a3a3 10px solid;
  padding-left: 50px;
  font-size: -10%;
  font-style: italic;
}

footer {
  color: gray;
  margin: 10px auto;
  text-align: center;
  font-size: 80%;
}

strong {
  font-weight: bold;
}

abbr{
  text-decoration: red dashed underline;
}

mark{
  background-color: rgb(102,153,0);
  color: white;
}

